.l-main-tasks {
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  grid-row-start: 2;
  grid-row-end: 4;

  @media (max-width: 767px) {
    grid-row-end: 3;
    border: none;
    border-radius: 0;
  }

  &-header {
    &__add-task {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin-top: 8px;
    }
    &__input-error {
      @include text(400, 12px, 12px, rgb(230, 0, 0));
      height: 12px;
      margin-bottom: 2px;
    }

    &__input-task-text {
      @include text(400, 16px, 16px, rgb(40, 40, 40));
      @include scrollbar();
      height: 32px;
      width: 100%;
      padding: 2px;
      outline: none;
      overflow-y: auto;
      resize: none;
      cursor: auto;

      &:focus {
        outline: 1px solid black;
      }
    }

    &__new-task-add-button {
      @include text(400, 16px, 16px, rgb(40, 40, 40));
      height: 32px;
      padding: 5px 15px;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background: rgb(197, 197, 197);
      border: 1px solid transparent;

      &:hover {
        border-color: black;
        background: rgb(205, 205, 205);
      }

      &:focus {
        border-color: black;
      }

      &_locked {
        cursor: default;
        background-color: #e0e0e0;

        &:hover {
          background-color: #e0e0e0;
          border-color: transparent;
        }
      }
    }
  }

  &__heading {
    @include text(400, 26px, 26px, rgb(40, 40, 40));
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  &__info {
    display: flex;
    margin-bottom: 8px;

    &-heading {
      @include text(400, 22px, 22px, rgb(40, 40, 40));
    }

    &-counter {
      @include text(500, 22px, 22px, rgb(40, 40, 40));

      margin-left: 6px;
    }
  }

  &__mass-action-buttons {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    padding-left: 2px;

    &_active {
      display: flex;
    }

    &_hidden {
      display: none;
    }
  }

  &__choose-all-button {
    margin: 0 10px 0 0;
  }

  &__done-button {
    @include mass-action-button(
      30px,
      30px,
      url(../../images/checkmark.svg) no-repeat center
    );
  }

  &__undone-button {
    @include mass-action-button(
      30px,
      30px,
      url(../../images/arrow-up.svg) no-repeat center
    );
  }

  &__delete-button {
    @include mass-action-button(
      30px,
      30px,
      url(../../images/trash.svg) no-repeat center
    );
    margin-left: 6px;
  }

  &__list {
    @include scrollbar();

    list-style-type: none;
    overflow-y: auto;
    max-height: 112px;
    max-width: 100%;
    padding-right: 8px;
  }
}
