.l-main-task {
  &__container {
    display: flex;
    align-items: flex-start;
    padding: 2px;
    min-height: 24px;
  }

  &__checkbox {
    margin: 5px 10px 0 0;
  }

  &__text {
    @include text(400, 20px, 24px, rgb(40, 40, 40));

    width: 85%;
    word-wrap: break-word;
  }

  &__edit-input {
    @include text(400, 14px, 14px, rgb(40, 40, 40));

    width: 85%;
    min-height: 24px;
  }

  &__edit-button {
    @include mass-action-button(
      20px,
      20px,
      url('../../images/pencil.svg') center no-repeat
    );

    outline: none;
    margin-left: auto;
  }

  &_checked {
    color: blue;
  }
}
