.l-main {
  &__calendar {
    background: #eee;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
  }

  &__calendar-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  &__calendar-change-month {
    height: 20px;

    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-left: auto;
    }
  }

  &__calendar-current-month {
    @include text(400, 18px, 20px, rgb(51, 51, 51));
  }

  &__calendar-days {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 34px);
    grid-template-rows: 26px;
    margin-bottom: 4px;
    align-items: center;
    justify-items: center;
  }

  &__calendar-days-item {
    @include text(400, 12px, 22px, rgb(51, 51, 51));
    width: 100%;
    height: 22px;
    text-align: center;
    &_red {
      color: red;
    }
  }

  &__calendar-dates {
    @include text(400, 16px, 22px, rgb(51, 51, 51));
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 34px);
    grid-template-rows: 22px;
    grid-auto-rows: 22px;
    grid-row-gap: 4px;
    align-items: center;
    justify-items: center;
  }

  &__calendar-dates-item {
    width: 22px;
    height: 26px;
    text-align: center;
    line-height: 22px;
    padding: 2px;
    &_red {
      color: red;
    }
  }
}
