<header
  class="header"
  ng-controller="headerController"
>
  <h1>{{'My organizer' | uppercase}}</h1>

  <time ng-init="setCurrentDate()">{{ currentDate }}</time>

  <div>
    <div
      ng-if="quoteOfTheDay === null"
      class="preloader-wrapper"
    >
      <preloader></preloader>
    </div>

    <div
      class="quote"
      id="quoteOfTheDay"
    >
      <p class="quote__content-title">{{ quoteOfTheDay.title }}</p>
      <p class="quote__content-author">{{ quoteOfTheDay.author }}</p>
      <p class="quote__content-text">{{ quoteOfTheDay.text }}</p>
    </div>
  </div>
</header>
