<div ng-controller="quotesController">
  <div
    ng-if="quoteOfTheDay === null"
    class="preloader-wrapper"
  >
    <app-preloader></app-preloader>
  </div>

  <div
    ng-show="quoteOfTheDay !== null"
    class="quote"
    id="quoteOfTheDay"
  >
    <div class="quote__content">
      <p class="quote__content-title">{{ quoteOfTheDay.title }}</p>
      <p class="quote__content-author">{{ quoteOfTheDay.author }}</p>
      <p class="quote__content-text">{{ quoteOfTheDay.text }}</p>
    </div>

    <div class="quote__background"></div>
  </div>
</div>
