@mixin mass-button($height, $width, $bg) {
  height: $height;
  width: $width;
  margin-left: auto;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background: $bg,
    linear-gradient(
      to right,
      rgba(119, 119, 119, 0.1) 0%,
      rgba(121, 119, 119, 0.1) 100%
    );
  background-size: 90%;
  box-shadow: 1px 1px 1px black;

  &:active {
    background-size: 85%;
    background-position: center;
    border: 1px solid black;
    border-radius: 50%;
  }

  &:hover {
    border: 1px solid black;
    border-radius: 50%;
  }

  &[disabled] {
    cursor: default;
    background: $bg;
    background-size: 80%;
    box-shadow: none;
    border: none;

    &:hover {
      border: none;
    }
  }
}
