.task-checked {
  color: blue;
}

.task-text {
  width: 85%;
  word-wrap: break-word;
}

.edit-button {
  @include mass-action-button(
    20px,
    20px,
    url('../../images/pencil.svg') center no-repeat
  );
  outline: none;
}
