@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url('../../fonts/#{$file_name}.ttf');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin text($font-weight, $font-size, $line-height, $color) {
  font: {
    weight: $font-weight;
    size: $font-size;
    family: Raleway, serif;
  }
  line-height: $line-height;
  color: $color;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
    background-color: #ccc;
  }

  &::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 3px;
    background-color: #555;
  }

  scrollbar-color: #555 #ccc;
  scrollbar-width: thin;
}

@mixin mass-action-button($height, $width, $bg) {
  height: $height;
  width: $width;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background: $bg,
    linear-gradient(
      to right,
      rgba(120, 120, 120, 0.1) 0%,
      rgba(120, 120, 120, 0.1) 100%
    );
  background-size: 90%;
  box-shadow: 1px 1px 1px black;

  &:active {
    background-size: 85%;
    background-position: center;
    border: 1px solid black;
    border-radius: 50%;
  }

  &:hover {
    border: 1px solid black;
    border-radius: 50%;
  }

  &[disabled] {
    cursor: default;
    background: $bg;
    background-size: 80%;
    box-shadow: none;
    border: none;

    &:hover {
      border: none;
    }
  }
}
