$mobile: 415;
$tablet: 821;
$hd: 1367;
$fhd: 1921;
$uhd: 3841;

$white: #fff;

$black: #000;

$red: #f00;

$orange: #ffa500;

$yellow: #ff0;

$green: #0f0;

$lightblue: #add8e6;

$blue: #00f;

$purple: #800080;
